/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
.navbar .logo{

display: block;
text-align: center;
width: 100%;
}
.navbar-header{

	width: 100%;

}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{

	background-color: #060606;
	color: #FCF2F2;
}
ul.secondary {
float: left;
}

.input-group{

	width: 30%;
	float: right;

}
.nav {
	display: inline-flex;
}

.clearfix:after {
float: right;

}

.jumbotron {

	font-size: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 8px;
}
.navbar {
margin-bottom: 0px;

}

.navbar-default{

	background-color: #fff;

}

.container .jumbotron {
padding-right: 0px;
padding-left: 0px;
}

.container {

	width: 1100px;
}
.menu nav navbar-nav{

	background: black;
}

.separacion {
border: 2px solid #000;
  height: 1px; 

}

.primerC{

border: 1px solid #D6D5D5;
	width: 300px;

}

.segundoC{
border: 1px solid #7BEE82;
height: 527px;
width: 300px;


}

.tercerC{
border: 1px solid #D6D5D5;

}

.region .region-navigation{

	padding: 5px;
overflow: hidden;
}

.secondary{
	border: 1px solid #fff;
float: right;
}

.navbar-header{

	background: #1B71EA;
}

.well{

padding: 0px;
margin-bottom: 0px;

}
.region{

	//background: blue;
}

/*Bloques principales*/

.col-sm-9{
	width:630px;
}

.col-sm-3{
	width:360px;
}
.container {
	width:990px;
}
h1,h2,h3{
	margin:0;
}
h1 a,
h2 a,
h3 a{
		font-family:Georgia,serif;
		color:#000;
}
h1 a:hover,
h2 a:hover,
h3 a:hover{

	text-decoration: none;
	color:#0033FF;
}

#front-principal{
	overflow:hidden;
	padding-bottom:10px;
	border-bottom:4px solid #000;
}
body.front h1.page-header,
ul.tabs--primary{
display:none;
}

body.front .main-container .row{
	margin-top:10px;
}
#block-views-principal-izq-block-1{
	// border:1px solid #ccc;
	border-left: 2px solid #ccc;
	margin-left: 2px;
	width:360px;
	float:left;
}
#block-views-principal-izq-block{
	
	float:left;
	width:228px;
	margin-right:10px;
}
#block-views-principal-izq-block .views-row-last{
	border-top:1px solid #ccc;
}

#block-views-principal-izq-block .views-row-last .views-field-title h2,
#block-views-principal-izq-block-1  .views-field-title h2{
	font-size:16px;
}

#block-views-principal-izq-block .views-field-name,
#block-views-principal-izq-block-1 .views-field-name {
	font-size:9px;
	color:#999;
	font-family: Verdana,sans-serif;
}

/*Los mas leidos*/

#block-views-los-mas-leidos-block .views-row{
	border:1px dotted #e1e1e1;
	padding: 4px;

	overflow:hidden;
}

#block-views-los-mas-leidos-block .views-row .views-field-field-image{
	float:left;

}

/*Segundo bloque*/

#block-views-secundaria-izq-block{

	margin-top: 10px;
	float: left;
	border-bottom: 2px solid #000;
	padding-right: 10px;
	width: 300px;
}

#block-views-secundaria-izq-block  .views-field-title a{

	font-family: Arial, sans-serif;
 	font-size: 20px;
 	text-decoration: none;
 	color: #000;
}

#block-views-secundaria-izq-block .views-row.views-row-1.views-row-odd.views-row-first.views-row-last {

border-bottom: 1px solid #e1e1e1;
margin-bottom: 10px;
margin-top: 10px;
padding-bottom: 10px;

}

#block-views-secundaria-izq-block .view.view-secundaria-izq.view-id-secundaria_izq.view-display-id-attachment_1{

margin-bottom: 8px;


}
#block-views-secundaria-izq-block .attachment-after a{
	font-size: 15px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}




#block-views-secundaria-izq-block .attachment-after a:hover{
color:#0033FF;

}

.attachment-after{

	border: 1px solid #fff;

	padding-bottom: 7px;
	margin-bottom: 8px
}
 #block-views-secundaria-izq-block .attachment .views-field{

	border-bottom: 1px dotted #e1e1e1;
	padding-bottom: 5px;
}


 #block-views-secundaria-izq-block .attachment .views-row-4{
 	border-bottom: none;
 	
 }


 /*Bloque opinions*/

 #block-views-opinions-block{

 	width: 285px;
 	padding-top: 15px;
	float: right;
	margin-left: 2px;
	border-bottom: 2px solid #000000;
 }
 #block-views-opinions-block .view-content{

 	padding-bottom: 15px;
 }


  #block-views-opinions-block h2{
	font-family: Arial,sans-serif;
 
	font-size: 20px;
  }
  #block-views-opinions-block .attachment .views-field{
	padding-top: 10px;
	border-bottom: 1px dotted #e1e1e1;
	padding-bottom: 10px;
	
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}

#block-views-opinions-block .views-field-name-1 a{
	font-size: 12px;
	color: #000000;
	font-family: arial;
}
#block-views-opinions-block .views-field-name-1 a:hover{
color:#0033FF;
text-decoration:none;
}

#block-views-opinions-block .attachment .views-field{

	border-bottom: 1px dotted #e1e1e1;
	padding-bottom: 5px;
}

#block-views-opinions-block .attachment .views-field a{
font-style: Arial;
	color: #000000;
}

#block-views-opinions-block .attachment .views-field a:hover{
color:#0033FF;
text-decoration:none;
}

#block-views-tercer-nivel-block{

	margin-top: 10px;
	float: left;
	border-bottom: 2px solid #000;
	padding-right: 10px;
	width: 300px;
}

#block-views-tercer-nivel-block .views-row-1{
padding-bottom: 10px;
border-bottom: 1px solid;
}

#block-views-tercer-nivel-block .views-row{
overflow: hidden;
padding-bottom: 10px;
border-bottom: 1px solid;
}


#block-views-tercer-nivel-block .views-field-field-image{
background: red;
float: left;
}

#block-views-tercer-nivel-block .views-row-2{
padding-bottom: 10px;
border-bottom: 1px solid;

}